.card {
  width: 45%;
  height: 100%;
  background-color: orange;
  margin: 10px;
  position: relative;
  border-radius: 25px;
}
.icon {
  position: absolute;
  top: 10%;
  left: 5%;
}
.title {
  position: absolute;
  top: 8%;
  left: 15%;
  font-size: 24px;
}
.overviewTitle {
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 18px;
}
.temperature {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 48px;
  font-weight: 600;
}
.minMax {
  position: absolute;
  top: 32%;
  left: 24%;
  font-size: 14px;
  font-weight: 600;
}
.overviewDetails {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 16px;
  font-weight: 600;
}
.statsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  position: absolute;
  top: 60%;
  width: 100%;
}
