.card {
  font-size: 1.75rem;
  width: 45%;
  height: 100%;
  background-color: orange;
  /* margin: 0.5em; */
  position: relative;
  border-radius: 2rem;
}
.icon {
  position: absolute;
  top: 10%;
  left: 5%;
}
.title {
  position: absolute;
  top: 8%;
  left: 20%;
  font-size: 1.5rem;
}
.overviewTitle {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 1.05rem;
}
.temperature {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 3rem;
  font-weight: 600;
}
.minMax {
  position: absolute;
  top: 32%;
  left: 25%;
  font-size: 0.8rem;
  font-weight: 600;
}
.overviewDetails {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 1rem;
  font-weight: 600;
}
.statsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  position: absolute;
  top: 60%;
  width: 100%;
}
