.currentinfo {
  position: relative;
  color: black;
  background-color: #acefac;
  height: 10%;
}
.currentday {
  position: absolute;
  left: 5%;
  top: 20%;
  font-size: 1.25rem;
  font-weight: 400;
}
.currentCity {
  position: absolute;
  left: 5%;
  top: 50%;
  font-size: 1rem;
  font-weight: 400;
}
.currentTemp {
  position: absolute;
  left: 70%;
  top: 25%;
  font-size: 2rem;
  font-weight: 400;
}
