.predictionCard {
  font-size:1rem;
  position: relative;
  background-color: #ffffff;
  margin: 0.8em;
  height: 15%;
}

.icon {
  position: absolute;
  top: 20%;
  left: 2%;
}
.date {
  position: absolute;
  top: 25%;
  left: 20%;
  font-size: 1.2rem;
}
.weather {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 1.2rem;
}
.temperature {
  position: absolute;
  top: 40%;
  left: 60%;
  font-size: 1.2rem;
}
