#root {
  text-align: center;
  display: flex;
  align-content: space-around;
  justify-content: center;
  height: 100vh;
}

#main {
  background-color: #fafa;
  max-width: 60%;
}

.header {
  width: auto;
  background-color: #fafafe;
  display: flex;
  color: #0f0f0f;
}
.header-text {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

/* input start */

.search {
  position: relative;
  width: 40ch;
  height: 3rem;
  padding-left: 1.5rem;
  border-radius: 1.5rem;
  background: #bcd7df;
  box-shadow: 0 1.25rem 5rem -1rem rgba(0, 0, 30, 0.5);
  transition: transform 200ms ease-in-out;
  margin: auto;
}
.search::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 2rem -1rem rgba(0, 0, 100, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}
.search input {
  all: unset;
  height: 100%;
  color: #333355;
}
.search input::placeholder {
  color: inherit;
  opacity: 0.3;
}
.search button {
  all: unset;
  position: absolute;
  right: 0;
  height: 3rem;
  padding-left: 3rem;
  border-radius: 1.5rem;
  background: #296ec7;
  cursor: pointer;
}
.search button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(41, 110, 199, 0.25),
    0 0.5rem 1rem -0.75rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.search button:hover::before {
  opacity: 1;
}
.search button label {
  display: block;
  opacity: 0;
  color: white;
  width: 0;
  transition: width 200ms ease-in-out, opacity 100ms ease-in-out;
}
.search button .search-icon {
  position: absolute;
  height: 0.875rem;
  width: 0.875rem;
  top: 1rem;
  left: 0.875rem;
  border: 0.125rem solid white;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(-45deg);
}
.search button .search-icon::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.125rem;
  background: white;
  left: calc(50% - (0.125rem / 2));
  bottom: -0.6rem;
}
.search:has(input:not(:placeholder-shown)) button label {
  opacity: 1;
  width: 3rem;
  margin-left: -0.5rem;
  padding-right: 1rem;
}
.search:has(input:focus)::before {
  opacity: 1;
}
/* input end */

.card-holder {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  background-color: #aff;
}
.weather-card {
  position: relative;
  width: 25vw;
  border-radius: 1.8rem;
  height: 45vh;
  background-color: #ffaffa;
  color: #0a0a0a;
}

.card-icons img {
  position: absolute;
  top: 1.3rem;
  left: 1.2rem;
}
.card-text-type {
  position: absolute;
  font-size: 1.3rem;
  font-weight: bold;
  top: 10px;
  left: 80px;
}
.card-text-qtn {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  top: 50px;
  left: 80px;
}
.card-text-current-temp {
  position: absolute;
  font-size: 4rem;
  font-weight: 600;
  top: 90px;
  left: 30px;
}
.card-badge {
  position: absolute;
  font-size: 1.15rem;
  font-weight: 600;
  background-color: #f2ecd4;
  color: #0a0a0a;
  width: auto;
  padding: 5px;
  border-radius: 10px;
}
.card-min {
  top: 130px;
  left: 200px;
}

.card-text-weather-details {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  top: 180px;
  left: 30px;
}
.card-info-grid {
  margin-left: 0.8rem;
  display: grid;
  column-gap: 0px;
  position: relative;
  grid-template-columns: auto auto auto;
  top: 260px;
}
.card-pressure {
  font-size: 16px;
  font-weight: 500;
  background-color: #19283f;
  color: #fafafa;
  padding-top: 15px;
  width: 7vw;
  height: 10vh;
  border-radius: 30px;
}
.card-pressure span {
  font-size: 24px;
  font-weight: 600;
  display: block;
}

.card-visibility {
  font-size: 16px;
  font-weight: 500;
  background-color: #cce16a;
  color: #0a0a0a;
  padding-top: 15px;
  width: 7vw;
  height: 10vh;
  border-radius: 30px;
}
.card-visibility span {
  font-size: 24px;
  font-weight: 600;
  display: block;
}
.card-humidity {
  font-size: 16px;
  font-weight: 500;
  background-color: #abbada;
  color: #0a0a0a;
  padding-top: 15px;
  width: 7vw;
  height: 10vh;
  border-radius: 30px;
}

.card-humidity span {
  font-size: 24px;
  font-weight: 600;
  display: block;
}

.timeline-holder {
  display: flex;
}

.timeline {
  position: relative;
  width: 50vw;
  height: 45vh;
  background-color: purple;
}
.timeline-title {
  position: absolute;
  left: 30px;
  top: 10px;
  width: 20vw;
  text-align: left;
  font-size: 28px;
  font-weight: 200px;
}
.card-tomorrow {
  position: relative;
  width: 20vw;
  height: 45vh;
  background-color: yellow;
  color: #0a0a0a;
  border-radius: 20px;
}

.card-tomorrow-title {
  position: absolute;
  font-size: 1.115rem;
  font-weight: 500;
  top: 30px;
  left: 40px;
}
.card-tomorrow-stats {
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  top: 30vh;
  left: 40px;
}

.card-tomorrow-stats span {
  display: block;
  font-size: 1.115rem;
  font-weight: 600;
  text-align: left;
}
.side-section {
  height: auto;
  width: 25vw;
  background-color: #f2f2f2;
  color: #0a0a0a;
}
.currentinfo {
  position: relative;
}
.currentinfo-day {
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 1.2rem;
  font-weight: 500;
}
.currentinfo-city {
  position: absolute;
  top: 75px;
  left: 50px;
  font-size: 1.115rem;
  font-weight: 400;
}
.currentinfo-temperature {
  position: absolute;
  top: 25px;
  left: 220px;
  font-size: 4rem;
  font-weight: 600;
  color: #e67e0e;
}

.currentinfo hr {
  position: absolute;
  top: 110px;
  width: 20vw;
}

.uvcard {
  position: absolute;
  width: 20vw;
  height: 15vh;
  background-color: #19283f;
  border-radius: 20px;
  top: 380px;
  margin-left: 20px;
  color: #fafafa;
}
.uv-icon {
  position: absolute;
  top: 40px;
  left: 20px;
}
.uv-title {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: 2rem;
  font-weight: 600;
}
.uv-level {
  position: absolute;
  top: 30px;
  left: 220px;
  font-size: 0.8rem;
}

.uv-desc {
  position: absolute;
  top: 75px;
  left: 100px;
  font-size: 1rem;
  font-weight: 400;
}
.weatherprediction-holder {
  position: absolute;
  top: 520px;
  height: 40vh;
  width: 25vw;
}
.prediction-card {
  position: relative;
  background-color: #dcd8cb;
  height: 10vh;
  margin: 10px;
}
.prediction-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.prediction-date {
  position: absolute;
  top: 5px;
  left: 100px;
  font-size: 1rem;
  font-weight: 600;
}
.prediction-weather {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}
.prediction-temp {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 1.2rem;
  font-weight: 600;
}
