.miniCard {
  font-size:1.5rem;
  font-weight:600;
  width: fit-content;
  background-color: #fa8c1b;
  color: white;
  border-radius: 0.6em;
  padding: 0.8em;
  margin-top: 0.3em;
}

.miniStats {
  font-size: 0.9rem;
  font-weight: 600;
}
