/* input start */

.search {
  position: relative;
  width: 40ch;
  height: 3rem;
  padding-left: 1.5rem;
  border-radius: 1.5rem;
  background: #bcd7df;
  box-shadow: 0 1.25rem 5rem -1rem rgba(0, 0, 30, 0.5);
  transition: transform 200ms ease-in-out;
  margin: auto;
}
.search::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 2rem -1rem rgba(0, 0, 100, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}
.search input {
  all: unset;
  height: 100%;
  color: #333355;
}
.search input::placeholder {
  color: inherit;
  opacity: 0.3;
}
.search button {
  all: unset;
  position: absolute;
  right: 0;
  height: 3rem;
  padding-left: 3rem;
  border-radius: 1.5rem;
  background: #296ec7;
  cursor: pointer;
}
.search button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(41, 110, 199, 0.25),
    0 0.5rem 1rem -0.75rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.search button:hover::before {
  opacity: 1;
}
.search button label {
  display: block;
  opacity: 0;
  color: white;
  width: 0;
  transition: width 200ms ease-in-out, opacity 100ms ease-in-out;
}
.search button .search-icon {
  position: absolute;
  height: 0.875rem;
  width: 0.875rem;
  top: 1rem;
  left: 0.875rem;
  border: 0.125rem solid white;
  border-radius: 50%;
  box-sizing: border-box;
  transform: rotate(-45deg);
}
.search button .search-icon::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.125rem;
  background: white;
  left: calc(50% - (0.125rem / 2));
  bottom: -0.6rem;
}
.search:has(input:not(:placeholder-shown)) button label {
  opacity: 1;
  width: 3rem;
  margin-left: -0.5rem;
  padding-right: 1rem;
}
.search:has(input:focus)::before {
  opacity: 1;
}
/* input end */
