.cardTomorrow {
  background: #5aeacf;
  margin: 20px 0;
  width: 30%;
  height: 100%;
  position: relative;
  border-radius: 20px;
}
.title {
  position: absolute;
  font-size: 20px;
  top: 10%;
  left: 5%;
}
.stats {
  position: absolute;
  font-size: 28px;
  top: 70%;
  left: 10%;
}
.stats span {
  display: block;
  font-size: 18px;
}
